# READMEs
*.md

# Docker and orchestrator specific files
Dockerfile
*.yml
*_spec.json
test.sh
run.sh
kill.sh
inspectlog.sh
.cache
.bashhistory
.config
.python_history
.git
.env
TDengineConnector
.taos_history
